@model CareerCloud.Pocos.ApplicantWorkHistoryPoco

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Work History</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicantProfile.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantProfile.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemCountryCode.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemCountryCode.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndYear)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", "ApplicantWorkHistory", new { ApplicantId = Model.Applicant }, null)
</p>
