@model CareerCloud.Pocos.SecurityLoginsLogPoco

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Security Logins Log</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SecurityLogin.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityLogin.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogonDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogonDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSuccesful)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSuccesful)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
