@model IEnumerable<CareerCloud.Pocos.ApplicantSkillPoco>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicantProfile.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skill)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicantProfile.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skill)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
